/*--slider--*/
.banner-slider {
	box-shadow: 0 0 0.6em #ccc;
	-webkit-box-shadow: 0 0 0.6em #ccc;
	-o-box-shadow: 0 0 0.6em #ccc;
	-moz-box-shadow: 0 0 0.6em #ccc;
	-ms-box-shadow: 0 0 0.6em #ccc;
}
#slider2,
#slider3 {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.rslides_tabs li:first-child {
	margin-left: 0;
}
.rslides_tabs .rslides_here a {
	background: rgba(255,255,255,.1);
	color: #fff;
	font-weight: bold;
}
.events {
	list-style: none;
}
.callbacks_container {
	position: relative;
	width: 100%;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	width: 100%;
}
.callbacks img {
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 70%;
  left: 0;
  opacity: 0.6;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  width:52px;
  height: 52px;
  background: transparent url("../images/arrows.png") no-repeat left top;
  margin-top: 4%;
}
 .callbacks_nav:hover{
  	opacity: 0.3;
  }
.callbacks_nav.next {
  left: auto;
    background-position: right top;
  left: 95.5%;
 }
 .callbacks_nav.prev {
	right: auto;
	background-position:left top;
	left: 90.5%;
}
#slider3-pager a {
	display: inline-block;
}
#slider3-pager span{
	float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
	background: #FFF;
	border-radius:30em;
	opacity:1;
}
#slider3-pager a {
	padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display:none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li{
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	height: auto;
	border: 0;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	bottom: -15%;
	z-index: 999;
	left: 46%;
	padding: 0;
	margin: 0;
	display: block;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li{
	display: inline-block;
	margin: 0 .3em;
}
@media screen and (max-width: 600px) {
	.callbacks_nav {
		top: 47%;
	}
}
/*----*/
.callbacks_tabs a{
	visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 15px;
	width: 15px;
	display: inline-block;
	background:#524B46;
	border: 2px solid #524B46;
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
}
.callbacks_here a:after{
	background:#B73C3D;
	border:2px solid #B73C3D;
}
.banner-info {
	position: absolute;
	top:28%;
	background-color: rgba(134, 188, 66, 0.58);
	padding: 4em 7em;
	z-index: 999;
	right: 0
}
.banner-info h3 {
	font-size:2.1em;
	font-weight: 400;
	color: #fff;
	font-family: 'Merienda-Regular';
}
ul#slider4 h4 {
	font-family: 'Merienda-Regular';
	position: absolute;
	top: 39%;
	left: 16px;
	z-index: 999;
	font-size: 2.2em;
	color: #fff;
	width: 38%;
	line-height: 1.7em;
	border-left: 8px solid #86bc42;
	padding-left: 15px;
}
.banner-info p {
	color: #fff;
	font-size: 1em;
	margin-top: 0.5em;
	font-family: 'Raleway-Regular';
}
@media (max-width:1024px){
	.banner-info {
		position: absolute;
		top: 28%;
		background-color: #86bc42;
		padding: 3em 7em;
		z-index: 999;
		right: 0;
	}
	ul#slider4 h4 {
		position: absolute;
		top: 35%;
		left: 16px;
		z-index: 999;
		font-size: 2em;
		color: #fff;
		width: 38%;
		line-height: 1.7em;
		border-left: 8px solid #86bc42;
		padding-left: 15px;
	}
	.callbacks_nav {
		position: absolute;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		top: 68%;
		}
		.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 94.5%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 87.1%;
	}
}
@media (max-width:992px){
	.mean-container .mean-bar {
		float: none !important;
		width: 750px !important;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width:800px){
	.banner-info {
		position: absolute;
		top: 28%;
		background-color: #86bc42;
		padding: 2em 4em;
	}
	ul#slider4 h4 {
		position: absolute;
		top: 35%;
		left: 16px;
		font-size: 1.8em;
		width: 45%;
		line-height: 1.7em;
		border-left: 6px solid #86bc42;
		padding-left: 15px;
	}
	.callbacks_nav {
		position: absolute;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		top: 60.1%;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 92.8%;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 83.8%;
	}
}
/*-- sticky-nav --*/
@media screen and (max-width: 768px) {
	span.menu {
		width: 35px;
		height: 35px;
		background: url('../images/nav.png') no-repeat;
		display: inline-block;
		cursor: pointer;
		float: right;
		margin: 0.7em 0;
	}	
	.mean-container .mean-bar {
		width: 450px !important;
	}
}
@media (max-width:640px){
	ul#slider4 h4 {
		position: absolute;
		top: 35%;
		left: 16px;
		font-size: 1.5em;
		width: 40%;
		line-height: 1.7em;
		border-left: 5px solid #86bc42;
		padding-left: 15px;
	}
	.banner-info {
		position: absolute;
		top: 28%;
		background-color: #86bc42;
		padding: 2em 2em;
	}
	.banner-info h3 {
    font-size: 1.8em;
	}
	.callbacks_nav {
		position: absolute;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		top:70%;
		width: 4%;
        height: 100%;
	    background: transparent url("../images/arrow2.png") no-repeat left top;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 90.5%;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left:96%;
	}
}
@media (max-width:480px){
	.banner-info {
		position: absolute;
		top: 28%;
		background-color: #86bc42;
		padding: 1em 1em;
	}
	.banner-info h3 {
    font-size: 1.4em;
	}
	.banner-info p {
		font-size: 0.8em;
		margin-top: 0.5em;
	}
	ul#slider4 h4 {
		position: absolute;
		top:30%;
		left:9px;
		font-size: 1.3em;
		width: 52%;
		line-height: 1.7em;
		border-left: 5px solid #86bc42;
		padding-left: 15px;
	}
	.callbacks_nav {
		top:62.99%;
		width: 6%;
		height: 100%;
		background: transparent url("../images/arrow2.png") no-repeat left top;
	}
	.callbacks_nav.prev {
		right: auto;
		background-position: left top;
		left: 86.3%;
	}
	.callbacks_nav.next {
		left: auto;
		background-position: right top;
		left: 94%;
	}		
	.mean-container .mean-bar {
		width: auto !important;
	}
}
@media (max-width:375px){
	span.menu {
    width: 35px;
    height: 35px;
    background: url('../images/nav.png') no-repeat;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin: 0.4em 0;
    background-size: 80%;
   }
   .banner-info h3 {
    font-size: 1.1em;
	}
	ul#slider4 h4 {
		position: absolute;
		top: 25%;
		left: 4px;
		font-size: 0.9em;
		width: 45%;
		line-height: 1.7em;
		border-left: 4px solid #B73C3D;
		padding-left: 6px;
	}
	.banner-info {
		position: absolute;
		top: 19%;
		background-color: #86bc42;
		padding: 0.7em 0.7em;
	}
}
