h1, h2, h3, h4, h5, h6 {margin: 0; font-family: 'Montserrat', sans-serif; font-weight: 700}
ul, ol {margin: 0; padding:0;}
html, body{
    color: #222222;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    line-height: 22px !important;
    text-align: left;
    background: #fff;
}
body a{
	text-decoration: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover,a:active,a:focus{
	text-decoration: none;
}
@font-face {
   font-family: 'Merienda-Regular';
   src: url(../fonts/Merienda-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Raleway-Regular';
   src: url(../fonts/Raleway-Regular.ttf)format('truetype');
}
.bg-white {
    background: #fff;
}
.section-padding {
    padding: 120px 0;
}
.img{
	max-width: 100%;
	height: auto;
    border: 0;
    vertical-align: top;
}
.button-default {
    background: #2d3e50 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 15px 35px;
    text-transform: uppercase;
}
.button-large.button-default {
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.2);
    font-size: 18px;
    margin-top: 83px;
    padding: 12px 18px;
    text-transform: capitalize;
}
.button-default.button-large:hover {
    background: #2d3e50 none repeat scroll 0 0;
}
.breadcrumb{
	margin:2em 0;
}
.container {
    width: 1200px;
}
.container, .row, .col-md-12, .col-md-10, .col-md-9, .col-md-8, .col-md-6, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .as-mainwrapper {
    transition: all 0.3s ease 0s;
}
.header-top:before, .about-area:before, .newsletter-area:before, .mainmenu ul#nav > li > a:after, .mainmenu ul#nav.menu-white > li > a:after, .search-menu, .button-default:hover, .button-green, .about-area .button-default, .single-item .button-default, .button-large.button-default, .single-latest-item .button-default, .single-product-text .button-default, .single-event-item .button-default, .subscribe-form > button, .social-icons > a:hover, .footer-area, .newsletter-two, .pagination-content.number .pagination li a:hover, .pagination-content.number .pagination li.current a, .pagination-content.number .pagination li:first-child a, .pagination-content.number .pagination li:last-child a, .product-details-content .button-default, .product-details-content .social-links a:hover, .duration-title, h4.title:after, .tution-fee, .single-sidebar-widget .social-links a:hover, .single-sidebar-widget .tags li a:hover, .pagination-content .pagination, .news-details-content .social-links a:hover, .contact-form-area .button-default, .skill-bar-item .progress-bar, #scrollUp, .bg-green, .bg-blue:hover, .preview-2 .nivo-directionNav a.nivo-prevNav:hover::before, .preview-2 .nivo-directionNav a.nivo-nextNav:hover::before, .slider-three .preview-2 .nivo-controlNav a, .footer-widget-area.footer-widget-four {
    background: #86bc42;
}
.header-top:before, .about-area:before, .newsletter-area:before {
    content: "";
    height: 48px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 43%;
}
.header-top:after, .about-area:after {
    border-color: rgba(0, 0, 0, 0) #86bc42 #86bc42 rgba(0, 0, 0, 0);
}
.about-area:after, .newsletter-area:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #86bc42 #86bc42;
}
.header-top:after, .about-area:after, .newsletter-area:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 24px 10px;
    content: "";
    height: 5px;
    position: absolute;
    right: 43%;
    top: 10px;
    width: 0;
}
.about-area:after {
    border-width: 55px 30px;
    left: 49.2%;
    top: -20px;
    right: auto;
}

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}	
/*-- header_top --*/
.header-secondary {
    background: #2d3e50;
}
.header-secondary {
    position: relative;
}
.header-secondary .nav-horizontal {
    position: relative;
    top: 6px;
    z-index: 999;
}
.nav {
    vertical-align: middle;
    display: inline-block;
}
nav ul {
    list-style: none;
}
.pd-lr-0{
	padding-left: 0px;
	padding-right: 0px;
}
.header-secondary .nav-horizontal li a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
	font-weight: 600;
}
.header-secondary::before, .about-area::before, .newsletter-area::before, .footer-site .footer-company-info .social-icons a:hover, .jr-insta-thumb ul.thumbnails li a:before, .footer-img a:before, .learn-press-search-course-form, .onsale, .lp_course .conmment-title_quick .comment-title::after, .lp_course .comment-respond .comment-reply-title::after, .pull-left.sidebar h5.section-nav-title::after, .pull-right.sidebar h5.section-nav-title::after, aside h5.section-nav-title::after {
    background: #86bc42;
}
.header-secondary::after {
    border-right-color: #86bc42;
    border-bottom-color: #86bc42;
}
.header-secondary:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 24px 10px;
    content: "";
    height: 0;
    position: absolute;
    right: 41%;
    top: 10px;
    width: 0;
    z-index: 999;
}
.header-secondary:before {
    content: "";
    height: 48px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 41%;
    z-index: 999;
}
.header_top-sec{
	padding: 14px 0;
}
.header_top{
	padding: 2em 0;
}
.top_left{
	float: right;
	color:#fff;
}
.top_right{
	float: left;
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.top_right ul,.top_left ul{
	padding:0;
	list-style:none;
	display: inline-block;
	vertical-align: middle;
}
.top_right ul li,.top_left ul li{
	display: inline-block;		
}
.social {
	display: inline-block;
}
.top_right ul li:last-child{
	margin-right: 0;
}
.top_right ul li a{
	text-align:center;
	padding: 0px 4px;
	text-transform:uppercase;
	font-size:12px;
	display:block;
	color:#ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top_left ul li{
	font-size:13px;
}
.top_left ul li a{
	text-align:center;
	padding: 0px 4px;
	font-size:13px;
	color:#ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/*-- header --*/
.logo{
	padding-left: 0px;
	padding-right: 0px;
}
.logo > a{
	display: inline-block;
    position: relative;
    z-index: 8;
}
/* start menu */
.header-site nav {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	line-height: 30px;
}
.nav-horizontal ul {
    display: inline-block;
}
.header-site .nav-horizontal > ul > li {
    margin: 12px 12px;
    padding-bottom: 0;
}
.header-site .nav-horizontal > ul > li:hover > a, .header-site .nav-horizontal > ul > li.current-menu-item > a, .header-site .nav-horizontal > ul > li.current_page_item > a {
    color: #86bc42;
}
.header-site .nav-horizontal > ul > li:hover > a:after, .header-site .nav-horizontal > ul > li.current-menu-item > a:after, .header-site .nav-horizontal > ul > li.current_page_item > a:after {
    width: 21px;
}
.header-site .menu-item-has-children > a:hover:after {
    opacity: 0.8;
}
.header-site .nav-horizontal > ul > li > a:after {
    background: #86bc42 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin-left: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 0;
}
.nav-horizontal li {
    float: left;
    margin: 0 3px;
}
.nav li {
    position: relative;
}
.nav-horizontal ul {
    display: inline-block;
}
.sub-menu, .nav .children {
    background-color: #fff;
    border: 1px solid #ddd;
    left: 0;
    line-height: normal;
    opacity: 0;
    position: absolute;
    top: 50px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    visibility: hidden;
    z-index: 5;
}
.sub-menu, .nav .children {
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    border: 2px solid #ddd;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    line-height: normal;
}
.sub-menu li, .nav .children li {
    clear: both;
    display: block;
    width: 180px;
    margin-bottom: 8px;
    border: none;
}
.nav li:hover > .sub-menu, .nav li:hover > .children {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 100%;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    visibility: visible;
}
.nav li:hover > .sub-menu, .nav li:hover .children {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.menu .sub-menu, .menu .nav .children {
    border: medium none;
    box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.13);
    padding: 15px 0;
}
.sub-menu li a:hover, .nav .children li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #86bc42 !important;
}
.menu .sub-menu li a, .menu .nav .children li a {
    color: #2d3e50;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 15px;
    text-transform: capitalize;
}
.header-site .nav-horizontal > ul > li > a {
    color: #2d3e50;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.header-site .nav-horizontal > ul > li > a:after {
    background: #86bc42 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin-left: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 0;
}
.header-search {
    cursor: pointer;
    display: inline-block;
}
.header-site .search-menu {
    background: #86bc42 none repeat scroll 0 0;
    display: block;
    height: 30px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 30px;
}
.search-menu i {
    color: #ffffff;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 3;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}	
.about-area {
    background: rgba(0, 0, 0, 0) url(../images/banner/1.jpg) no-repeat scroll center top;
    color: #ffffff;
    margin-top: 140px;
    padding-bottom: 54px;
    position: relative;
}
.about-area:before {
    height: 110px;
    left: 0;
    right: auto;
    top: -20px;
    width: 49.2%;
}
.about-container {
    margin-left: 70px;
}
.about-area h3 {
    font-size: 30px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 79px;
    padding-top: 22px;
    z-index: 9;
    position: relative;
}
.about-area p {
    font-family: 'Raleway', sans-serif;
    line-height: 26px;
    margin-bottom: 42px;
	font-size: 14px;
}
.about-area .button-default {
    padding: 10px 41px;
}
.about-container > .button-default:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #2d3e50;
}
.button-default:hover {
    color: #fff;
}
.course-area .section-title-wrapper {
    margin-bottom: 122px;
}
.section-title {
    text-align: center;
    overflow: hidden;
    position: relative;
}
.white .section-title h3, .white .section-title p {
    color: #ffffff;
}
.section-title-wrapper {
    margin-bottom: 87px;
    position: relative;
}
.section-title-wrapper:before {
    background: #2d3e50 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 230px;
}
.section-title {
    text-align: center;
    overflow: hidden;
    position: relative;
}
.section-title h3 {
    color: #2d3e50;
    font-size: 30px;
    line-height: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.section-title p {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
	font-size: 14px;
    margin-bottom: 24px;
}
.section-title-wrapper:after {
    background: rgba(0, 0, 0, 0) url(../images/icon/cap-dark.jpg) no-repeat scroll 0 0;
    bottom: -8px;
    color: #1bb4b9;
    content: "";
    font-size: 14px;
    height: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
    z-index: 9;
}
.single-item {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #86bc42;
    padding: 0 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
}
.single-item-image {
    overflow: hidden;
    position: relative;
    text-align: center;
    top: -35px;
}
.single-item:hover {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.4);
}
.single-item-image a {
    display: inline-block;
}
.overlay-effect a {
    position: relative;
}
.overlay-effect a:before {
    background: rgba(45, 62, 80, 0.2) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    width: 100%;
}
.single-item-text h4 {
    font-size: 20px;
    padding-top: 7px;
}
.single-item-text h4 a, .single-item-text h4 {
    color: #2d3e50;
}
.single-item-text h4 a, .single-item-text h4 {
    color: #2d3e50;
}
.single-item-text-info {
    margin-bottom: 18px;
    padding-top: 5px;
}
.single-item-text-info span {
    color: #696969;
    font-family: 'Montserrat', sans-serif;
    margin-right: 11px;
	font-weight: 500;
    font-size: 14px;
}
.single-item-text-info span span {
    color: #2d3e50;
}
.single-item-text > p {
    color: #222222;
}
.single-item-content {
    margin-bottom: 44px;
    overflow: hidden;
    padding-top: 21px;
}
.single-item-comment-view, .single-item-rating {
    display: inline-block;
}
.single-item-comment-view span {
    color: #696969;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-right: 17px;
}
.single-item-comment-view span:last-child {
    margin-right: 0;
}
.single-item-comment-view > span i {
    font-size: 14px;
    margin-right: 8px;
}
.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.single-item-rating {
    color: #f3c30b;
    float: right;
    font-size: 16px;
}
.button-bottom {
    margin-bottom: -19.5px;
    text-align: center;
}
.single-item .button-default {
    padding: 10px 33px;
}
.my-skills {
    background: rgba(0, 0, 0, 0) url(../images/banner/2.jpg) repeat scroll 0 0;
    color: #ffffff;
    padding: 100px 0;
}
.section-title-wrapper {
    margin-bottom: 87px;
    position: relative;
}
.section-title-wrapper.white:before {
    background: #ffffff none repeat scroll 0 0;
}
.section-title-wrapper:before {
    background: #2d3e50 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 230px;
}
.white.section-title-wrapper:after {
    background: rgba(0, 0, 0, 0) url(../images/icon/cap-white.jpg) repeat scroll 0 0;
}
.section-title-wrapper:after {
    background: rgba(0, 0, 0, 0) url(../images/icon/cap-dark.jpg) no-repeat scroll 0 0;
    bottom: -8px;
    color: #1bb4b9;
    content: "";
    font-size: 14px;
    height: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
    z-index: 9;
}
.skills-grid p {
    margin: 20px 0 0 0;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
}
.single-latest-item {
    overflow: hidden;
    margin-bottom: 50px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-latest-text {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 2px solid #86bc42;
    overflow: hidden;
    padding: 30px 0 35px 35px;
}
.single-latest-item:hover {
    box-shadow: 2px 5px 25px rgba(34, 30, 31, 0.25);
}
.single-latest-item:hover .button-default {
    background: #2D3E50 none repeat scroll 0 0;
}
.single-latest-image {
    float: left;
}
.single-latest-image a {
    display: inline-block;
}
.single-latest-text > h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    height: 25px;
    overflow-y: hidden;
}
.single-latest-text > h3 a {
    color: #2d3e50;
}
.single-latest-item .single-item-comment-view {
    display: block;
    margin-bottom: 2px;
}
.single-item-comment-view span {
    color: #696969;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-right: 17px;
}
.single-latest-item .single-item-comment-view span {
    margin-right: 12px;
}
.single-latest-item .button-default {
    font-size: 12px;
    margin-top: 7px;
    padding: 4px 21px;
}
/****************************************/
/*Mobile - tablet - responsive*/
/****************************************/
@media (max-width: 1169px) and (min-width: 992px){
	.container {
		width: 970px;
	}
    .single-item {
        padding: 0 20px;
    }
    .single-latest-text {
        padding: 30px 0 16px 11px;
    }
    .single-latest-text > h3 {
        font-size: 19px;
    }
}
@media (max-width: 991px) and (min-width: 768px){
	.container {
		width: 750px;
	}
    .section-padding {
        padding: 80px 0;
    }
    .section-title-wrapper {
        margin-bottom: 70px;
    }
}
@media (max-width:768px){
	.about-area {
		background: #2D3E50;
		margin-top: 80px;
	}
	.about-area {
		background-position: left top;
		margin-top: 100px;
	}
	.about-container {
		margin-left: 0;
	}
	.about-area::before {
		width: 74%;
	}
	.about-area::after {
		left: 74%;
	}
}
@media (max-width: 767px){
    .container {
        width: 300px;
    }
    .section-padding {
        padding: 60px 0;
    }
    .section-title h3 {
        font-size: 25px;
    }
    .course-area .section-title-wrapper {
        margin-bottom: 80px;
    }
    .single-item {
        margin-bottom: 80px;
        padding: 0 16px;
    }
    .single-item-image {
        top: -20px;
    }
    .button-large.button-default {
        margin-top: 5px;
    }
    .single-item-text-info span {
        margin-right: 8px;
    }
    .single-latest-image {
        float: none;
        text-align: center;
    }
    .single-latest-image a, .single-latest-image img {
        width: 100%;
    }
    .single-latest-image a, .single-latest-image img {
        width: 100%;
    }
    .single-latest-text {
        padding: 30px 17px;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px){
	.container {
		width: 450px;
	}
    .single-item {
        margin: 0 14px 56px;
        padding: 0 47px;
    }
}

