h1, h2, h3, h4, h5, h6 {margin: 0; font-family: 'Montserrat', sans-serif; font-weight: 700}
ul, ol {list-style: outside none none; margin: 0; padding:0;}
html, body{
    color: #222222;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    line-height: 22px !important;
    text-align: left;
    background: #fff;
}
body a{
	text-decoration: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover,a:active,a:focus{
	text-decoration: none;
}
h4.title {
    color: #4c4c4c;
    font-size: 24px;
    margin-bottom: 27px;
    padding-bottom: 10px;
    position: relative;
}
@font-face {
   font-family: 'Merienda-Regular';
   src: url(../fonts/Merienda-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Raleway-Regular';
   src: url(../fonts/Raleway-Regular.ttf)format('truetype');
}
.bg-white {
    background: #fff;
}
.section-padding {
    padding: 100px 0;
}
img {
    max-width: 100%;
    height: auto !important;
    border: 0 !important;
    vertical-align: top !important;
}
.img{
	max-width: 100%;
	height: auto;
    border: 0;
    vertical-align: top;
}
.button-default {
    background: #2d3e50 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 15px 35px;
    text-transform: uppercase;
}
.button-large.button-default {
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.2);
    font-size: 18px;
    margin-top: 83px;
    padding: 12px 18px;
    text-transform: capitalize;
}
.button-default.button-large:hover {
    background: #2d3e50 none repeat scroll 0 0;
}
.container {
    width: 1200px;
}
.container, .row, .col-md-12, .col-md-10, .col-md-9, .col-md-8, .col-md-6, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .as-mainwrapper {
    transition: all 0.3s ease 0s;
}
.header-top:before, .about-area:before, .newsletter-area:before, .mainmenu ul#nav > li > a:after, .mainmenu ul#nav.menu-white > li > a:after, .search-menu, .button-default:hover, .button-green, .about-area .button-default, .single-item .button-default, .button-large.button-default, .single-latest-item .button-default, .single-product-text .button-default, .single-event-item .button-default, .subscribe-form > button, .social-icons > a:hover, .footer-area, .newsletter-two, .pagination-content.number .pagination li a:hover, .pagination-content.number .pagination li.current a, .pagination-content.number .pagination li:first-child a, .pagination-content.number .pagination li:last-child a, .product-details-content .button-default, .product-details-content .social-links a:hover, .duration-title, h4.title:after, .tution-fee, .single-sidebar-widget .social-links a:hover, .single-sidebar-widget .tags li a:hover, .pagination-content .pagination, .news-details-content .social-links a:hover, .contact-form-area .button-default, .skill-bar-item .progress-bar, #scrollUp, .bg-green, .bg-blue:hover, .preview-2 .nivo-directionNav a.nivo-prevNav:hover::before, .preview-2 .nivo-directionNav a.nivo-nextNav:hover::before, .slider-three .preview-2 .nivo-controlNav a, .footer-widget-area.footer-widget-four {
    background: #86bc42;
}
.search-form, .single-item, .single-latest-text, .single-product-text, .single-event-text, .subscribe-form > button, .subscribe-form > button:hover, .pagination-content.number .pagination li a, .subscribe-form > button, .subscribe-form > button:hover, .pagination-content.number .pagination li a, .pagination-content.number .pagination li a:hover, .pagination-content.number .pagination li.current a, .product-details-content .social-links a:hover, .single-teacher-text, .single-course-details, .course-duration .text, .tutor-image > img, .single-sidebar-widget .social-links a:hover, .single-sidebar-widget .tags li a:hover, .single-sidebar-widget .single-item, .event-details-content .single-event-item, .recent-content-item > a, .quote-section, .news-details-content .social-links a:hover, .shortcode-area i, .shortcode-area h3, .border-green, .slider-three .nivo-controlNav a.active:before, .slider-three .nivo-controlNav a:hover:before {
    border-color: #86bc42;
}
.header-top:before, .about-area:before, .newsletter-area:before {
    content: "";
    height: 48px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 43%;
}
.header-top:after, .about-area:after {
    border-color: rgba(0, 0, 0, 0) #86bc42 #86bc42 rgba(0, 0, 0, 0);
}
.about-area:after, .newsletter-area:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #86bc42 #86bc42;
}
.header-top:after, .about-area:after, .newsletter-area:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 24px 10px;
    content: "";
    height: 5px;
    position: absolute;
    right: 43%;
    top: 10px;
    width: 0;
}
.about-area:after {
    border-width: 55px 30px;
    left: 49.2%;
    top: -20px;
    right: auto;
}
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.section-bottom-padding {
    padding: 0 0 120px 0;
}
a:hover, .carousel-style-one.owl-theme .owl-controls .owl-nav div:hover, .button-green:hover, .account-dropdown a:hover, .mainmenu ul#nav > li:hover > a, .mainmenu ul#nav li ul.sub-menu > li:hover > a, .mainmenu ul#nav li ul.sub-menu li ul.inside-menu > li > a:hover, .search-form button[type="submit"], .mean-container .mean-nav ul li a:hover, .mean-container a.meanmenu-reveal, .single-item-text h4 a:hover, .single-latest-text > h3 a:hover, .single-product-text h4 a:hover, .single-event-item:hover h3 a, .subscribe-form > button:hover, .footer-list a:hover, .newsletter-two .subscribe-form > button:hover, .pagination-content.number .pagination li a, .single-teacher-text > h3 a:hover, .author-info > h4 a:hover, span.reply a, .sidebar-widget .single-teacher-text > h3 a:hover, .breadcrumb-bar a:hover, .recent-text > h4 a:hover, .related-tag .tags li a:hover, .link-social > a:hover, .shortcode-area i, .shortcode-area h3, .text-green, .header-top span.text-green, .slick-prev:hover:before, .slick-next:hover:before, .footer-widget-list li a:hover, .footer-container .social-links-three > a:hover {
    color: #86bc42;
}	
/*-- header_top --*/
.header-secondary {
    background: #2d3e50;
}
.header-secondary {
    position: relative;
}
.header-secondary .nav-horizontal {
    position: relative;
    top: 6px;
    z-index: 999;
}
.nav {
    vertical-align: middle;
    display: inline-block;
}
nav ul {
    list-style: none;
}
.pd-lr-0{
	padding-left: 0px;
	padding-right: 0px;
}
.header-secondary .nav-horizontal li a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
	font-weight: 600;
}
.header-secondary::before, .about-area::before, .newsletter-area::before, .footer-site .footer-company-info .social-icons a:hover, .jr-insta-thumb ul.thumbnails li a:before, .footer-img a:before, .learn-press-search-course-form, .onsale, .lp_course .conmment-title_quick .comment-title::after, .lp_course .comment-respond .comment-reply-title::after, .pull-left.sidebar h5.section-nav-title::after, .pull-right.sidebar h5.section-nav-title::after, aside h5.section-nav-title::after {
    background: #86bc42;
}
.header-secondary::after {
    border-right-color: #86bc42;
    border-bottom-color: #86bc42;
}
.header-secondary:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 24px 10px;
    content: "";
    height: 0;
    position: absolute;
    right: 41%;
    top: 10px;
    width: 0;
    z-index: 999;
}
.header-secondary:before {
    content: "";
    height: 48px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 41%;
    z-index: 999;
}
.header_top-sec{
	padding: 14px 14px;
}
.header_top{
	padding: 2em 0;
}
.top_left{
	float: right;
	color:#fff;
}
.top_right{
	float: left;
	color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.top_right ul,.top_left ul{
	padding:0;
	list-style:none;
	display: inline-block;
	vertical-align: middle;
}
.top_right ul li,.top_left ul li{
	display: inline-block;		
}
.social {
	display: inline-block;
}
.social-links > a:hover {
    color: #ffffff;
}
.top_right ul li:last-child{
	margin-right: 0;
}
.top_right ul li a{
	text-align:center;
	padding: 0px 4px;
	text-transform:uppercase;
	font-size:12px;
	display:block;
	color:#ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top_left ul li{
	font-size:13px;
}
.top_left ul li a{
	text-align:center;
	padding: 0px 4px;
	font-size:13px;
	color:#ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.mobile-menu-area {
    background: #2d3e50 none repeat scroll 0 0;
    display: none;   
}
.mean-container .mean-bar:before {
    color: #fff;
    content: "MENU";
    font-size: 18px;
    font-weight: 600;
    left: 0;
    position: absolute;
    top: 13px;
}
 
/*-- header --*/
.logo{
	padding-left: 0px;
	padding-right: 0px;
}
.logo > a{
	display: inline-block;
    position: relative;
    z-index: 8;
}
.search.open {
    height: 50px;
}
.search {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 0;
    margin-right: 15px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 82px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: height;
    transition-property: height;
    width: 290px;
    z-index: 9999;
}
#search-form {
    overflow: hidden;
    position: relative;
}
.search-form {
    background-color: #ffffff;
    border-top: 1px solid #86bc42;
    float: right;
    width: 290px;
}
#search-form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #666666;
    font-size: 13px;
    font-weight: 300;
    height: 48px;
    padding: 0 40px 0 15px;
    width: 100%;
}
.search-form button[type="submit"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: block;
    font-size: 18px;
    height: 50px;
    line-height: 48px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.search-form input[type="search"] {
    border: medium none;
    float: left;
    background: transparent;
    font-size: 24px;
}
/* start menu */
.header-site nav {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	line-height: 30px;
}
.nav-horizontal ul {
    display: inline-block;
}
.header-site .nav-horizontal > ul > li {
    margin: 12px 12px;
    padding-bottom: 0;
}
.header-site .nav-horizontal > ul > li:hover > a, .header-site .nav-horizontal > ul > li.current-menu-item > a, .header-site .nav-horizontal > ul > li.current_page_item > a {
    color: #86bc42;
}
.header-site .nav-horizontal > ul > li:hover > a:after, .header-site .nav-horizontal > ul > li.current-menu-item > a:after, .header-site .nav-horizontal > ul > li.current_page_item > a:after {
    width: 21px;
}
.header-site .menu-item-has-children > a:hover:after {
    opacity: 0.8;
}
.header-site .nav-horizontal > ul > li > a:after {
    background: #86bc42 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin-left: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 0;
}
.nav-horizontal li {
    float: left;
    margin: 0 3px;
}
.nav li {
    position: relative;
}
.nav-horizontal ul {
    display: inline-block;
}
.sub-menu, .nav .children {
    background-color: #fff;
    border: 1px solid #ddd;
    left: 0;
    line-height: normal;
    opacity: 0;
    position: absolute;
    top: 50px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    visibility: hidden;
    z-index: 5;
}
.sub-menu, .nav .children {
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    border: 2px solid #ddd;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    line-height: normal;
}
.sub-menu li, .nav .children li {
    clear: both;
    display: block;
    width: 350px;
    margin-bottom: 15px;
    border: none;
}
.nav li:hover > .sub-menu, .nav li:hover > .children {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 100%;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    visibility: visible;
}
.nav li:hover > .sub-menu, .nav li:hover .children {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.menu .sub-menu, .menu .nav .children {
    border: medium none;
    box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.13);
    padding: 15px 0;
}
.sub-menu li a:hover, .nav .children li a:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #86bc42 !important;
}
.menu .sub-menu li a, .menu .nav .children li a {
    color: #2d3e50;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding: 10px 15px;
    text-transform: capitalize;
}
.header-site .nav-horizontal > ul > li > a {
    color: #2d3e50;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.header-site .nav-horizontal > ul > li > a:after {
    background: #86bc42 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin-left: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    width: 0;
}
.header-search {
    cursor: pointer;
    display: inline-block;
}
.header-site .search-menu {
    background: #86bc42 none repeat scroll 0 0;
    display: block;
    height: 30px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 30px;
}
.search-menu i {
    color: #ffffff;
    display: block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 3;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}	
.about-area {
    background: rgba(0, 0, 0, 0) url(../images/banner/1.jpg) no-repeat scroll center top;
    color: #ffffff;
    margin-top: 120px;
    padding-bottom: 54px;
    position: relative;
}
.about-area:before {
    height: 110px;
    left: 0;
    right: auto;
    top: -20px;
    width: 49.2%;
}
.about-container {
    margin-left: 70px;
}
.about-area h3 {
    font-size: 30px;
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 79px;
    padding-top: 22px;
    z-index: 9;
    position: relative;
}
.about-area p {
    font-family: 'Raleway', sans-serif;
    line-height: 26px;
    margin-bottom: 42px;
	font-size: 14px;
}
.about-area .button-default {
    padding: 10px 41px;
}
.about-container > .button-default:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #2d3e50;
}
.button-default:hover {
    color: #fff;
}
.course-area .section-title-wrapper {
    margin-bottom: 122px;
}
.section-title {
    text-align: center;
    overflow: hidden;
    position: relative;
}
.white .section-title h3, .white .section-title p {
    color: #ffffff;
}
.section-title-wrapper {
    margin-bottom: 87px;
    position: relative;
}
.section-title-wrapper:before {
    background: #2d3e50 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 230px;
}
.section-title {
    text-align: center;
    overflow: hidden;
    position: relative;
}
.section-title h3 {
    color: #2d3e50;
    font-size: 30px;
    line-height: 36px;
    margin-top: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.section-title p {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
	font-size: 14px;
    margin-bottom: 24px;
}
.section-title-wrapper:after {
    background: rgba(0, 0, 0, 0) url(../images/icon/cap-dark.jpg) no-repeat scroll 0 0;
    bottom: -8px;
    color: #1bb4b9;
    content: "";
    font-size: 14px;
    height: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
    z-index: 9;
}
.single-item {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #86bc42;
    padding: 0 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 20px;
}
.single-item-image {
    overflow: hidden;
    position: relative;
    text-align: center;
    top: -35px;
}
.single-item:hover {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.4);
}
.single-item-image a {
    display: inline-block;
}
.overlay-effect a {
    position: relative;
}
.overlay-effect a:before {
    background: rgba(45, 62, 80, 0.2) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    width: 100%;
}
.single-item-text h4 {
    font-size: 20px;
    padding-top: 7px;
}
.single-item-text h4 a, .single-item-text h4 {
    color: #2d3e50;
}
.single-item-text h4 a, .single-item-text h4 {
    color: #2d3e50;
}
.single-item-text-info {
    margin-bottom: 18px;
    padding-top: 5px;
}
.single-item-text-info span {
    color: #696969;
    font-family: 'Montserrat', sans-serif;
    margin-right: 11px;
	font-weight: 500;
    /*font-size: 14px;*/
}
.single-item-text-info span span {
    color: #2d3e50;
}
.single-item-text > p {
    color: #222222;
}
.single-item-content {
    margin-bottom: 44px;
    overflow: hidden;
    padding-top: 21px;
}
.single-item-comment-view, .single-item-rating {
    display: inline-block;
}
.single-item-comment-view span {
    color: #696969;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-right: 17px;
}
.single-item-comment-view span:last-child {
    margin-right: 0;
}
.single-item-comment-view > span i {
    font-size: 14px;
    margin-right: 8px;
}
.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.single-item-rating {
    color: #f3c30b;
    float: right;
    font-size: 16px;
}
.button-bottom {
    margin-bottom: -19.5px;
    text-align: center;
}
.single-item .button-default {
    padding: 10px 33px;
}
.my-skills {
    background: rgba(0, 0, 0, 0) url(../images/banner/2.jpg) repeat scroll 0 0;
    color: #ffffff;
    padding: 100px 0;
}
.section-title-wrapper {
    margin-bottom: 87px;
    position: relative;
}
.section-title-wrapper.white:before {
    background: #ffffff none repeat scroll 0 0;
}
.section-title-wrapper:before {
    background: #2d3e50 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 230px;
}
.white.section-title-wrapper:after {
    background: rgba(0, 0, 0, 0) url(../images/icon/cap-white.jpg) repeat scroll 0 0;
}
.section-title-wrapper:after {
    background: rgba(0, 0, 0, 0) url(../images/icon/cap-dark.jpg) no-repeat scroll 0 0;
    bottom: -8px;
    color: #1bb4b9;
    content: "";
    font-size: 14px;
    height: 20px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
    z-index: 9;
}
.skills-grid p {
    margin: 20px 0 0 0;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
}
.single-latest-item {
    overflow: hidden;
    margin-bottom: 50px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-latest-text {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 2px solid #86bc42;
    overflow: hidden;
    padding: 30px 0 35px 35px;
}
.single-latest-item:hover {
    box-shadow: 2px 5px 25px rgba(34, 30, 31, 0.25);
}
.single-latest-item:hover .button-default {
    background: #2D3E50 none repeat scroll 0 0;
}
.single-latest-image {
    float: left;
}
.single-latest-image a {
    display: inline-block;
}
.single-latest-text > h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    height: 25px;
    overflow-y: hidden;
}
.single-latest-text > h3 a {
    color: #2d3e50;
}
.single-latest-item .single-item-comment-view {
    display: block;
    margin-bottom: 2px;
}
.single-item-comment-view span {
    color: #696969;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-right: 17px;
}
.single-latest-item .single-item-comment-view span {
    margin-right: 12px;
}
.single-latest-item .button-default {
    font-size: 12px;
    margin-top: 7px;
    padding: 4px 21px;
}
/*-- /gallery --*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #ffffff;
    cursor: default;
    background: #0066b2;
    border: solid 2px #0066b2;
}
.nav-tabs > li > a {
      margin-right: 3px;
    font-size: 1em;
    color: #ffffff;
    border: solid 2px #040404;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: .5em 1em;
    background: #040404;
}
.nav-tabs > li > a:focus{
	background:transparent;
}
.nav-tabs {
    border-bottom: none;
    margin: 4em 0;
    text-align: center;
}
.nav-tabs > li {
    margin: 0 10px;
    float: none;
    display: inline-block;
}
.nav-tabs > li > a:hover {
    color: #FFFFFF;
    background: #0066b2;
    border: solid 2px #0066b2;
}
.agile-gallery-info{
    padding: 1em;
    background: #ffffff;
    margin-bottom: 1em;
    border-bottom: solid 3px #555;
}
.agile-gallery-info h5{
    color: #000000;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
.agile-gallery-info p{
       color: #555;
    font-size: .9em;
    line-height: 1.8em;
    margin: .5em 0 0 0;
}
.agile-gallery-info{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.w3_tab_img_left:hover .agile-gallery-info{
    border-bottom: solid 3px #0066b2;
}
.w3_tab_img_left:hover .agile-gallery-info p{
    color:#0066b2;
}
/*-- //gallery --*/
.wthree_testimonials_grid{
	position: relative;
    margin: 6em auto 0;
    background: rgba(226, 221, 221, 0.26);
    padding: 6em 5em 3em;
}
.wthree_testimonials_grid1,.wthree_testimonials_grid{
	width: 70%;
}
.wthree_testimonials_grid:after{
	content: '';
    width: 4%;
    height: 10px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid rgba(226, 221, 221, 0.26);
    position: absolute;
    bottom: -7%;
    right: 10%;
}
.wthree_testimonials_grid h4{
	font-size: 1.4em;
    color: #000;
    line-height: 1.5em;
    font-weight: bold;
	text-transform:uppercase;
}
.wthree_testimonials_grid p{
	color: #fff;
    line-height: 2em;
    margin: 1em 0 0;
}
.wthree_testimonials_grid_pos{
	position: absolute;
    top: -30%;
    left: 43%;
}
.wthree_testimonials_grid1{
	text-align:right;
	margin: 0 auto;
}
.wthree_testimonials_grid1 h5{
	font-size: 1em;
    color: #fdbd10;
    margin: 1.5em 0 1em;
}
.wthree_testimonials_grid1 p{
	color:#fff;
}
/*--flexisel--*/
.testimonial-area {
    overflow: hidden;
    padding: 50px 0 50px;
    position: relative;
}
.testimonial-area:after {
    background: rgba(45, 62, 80, 0.62) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.agents {
        background-color: #2d3e50;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/banner/testimonial-banner-1.jpg');
}
.slick-slider {
    z-index: 9;
}
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
.opportunity{
	background:#28282e;
	margin:0px 20px;
	padding:80px 0;
	position:relative;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
    padding: 0;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:34px;
	height:39px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	top:46% !important;
}
.nbs-flexisel-nav-left {
	left: 13%;
    background:rgba(0, 0, 0, 0.78) url(../images/left1.png) no-repeat 0px 3px;
}
.nbs-flexisel-nav-right {
    right: 13%;
    background: rgba(0, 0, 0, 0.78) url(../images/right1.png) no-repeat 3px 3px;
}

.wthree_testimonials_grid_main {
    padding-bottom: 1em;
}
.wthree_testimonials_grid_pos img {
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
    border: 6px solid rgba(226, 221, 221, 0.26);
}
/*--//flexisel--*/
/*--//banner_info --*/
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.wthree-tittle {
    margin-bottom: 3em;
    position: relative;
}

h3.agile_title {
	font-size: 2.5em;
    color: #212121;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-weight: 700;
}
h3.agile_title:after {
    content: '';
    background: #0066b2;
    height: 4px;
    width:7%;
    position: absolute;
    top: 46%;
    left: 35%;
}
h3.agile_title.one.two {
    color: #fff;
}
h3.agile_title.one:after {
    content: '';
    background: #0066b2;
    height: 4px;
    width: 7%;
    position: absolute;
    top: 46%;
    left: 33%;
}
h3.agile_title.one.two:after {
    content: '';
    background:#fdbd10;
    height: 4px;
    width: 7%;
    position: absolute;
    top: 46%;
    left: 31%;
}
p.w3l-agile-its-title {
    text-align: center;
    font-size:0.9em;
       color: #585857;
    letter-spacing: 8px;
}   
p.w3l-agile-its-title.second {
	 color: #fdbd10;
}
/*Online product area*/
.single-product-item {
    box-shadow: 0 0 8px rgba(34, 30, 31, 0.3);
}
.single-product-image {
    text-align: center;
}
.single-product-image img {
    width: 100%;
}
.single-product-text {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #86bc42;
    padding: 23px 24px 22px;
}
.single-product-text > h4 a {
    color: #4c4c4c;
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
}
.single-product-text h5 {
    color: #696969;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}
.single-product-text .button-default {
    border: 0 none;
    display: block;
    font-size: 16px;
    line-height: 27px;
    margin-left: 8px;
    padding: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 27px;
}
.product-buttons {
    overflow: hidden;
}
.single-product-text .button-default.cart-btn {
    font-size: 11px;
    line-height: 27px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 14px;
    width: auto;
}
.single-product-item:hover .button-default.cart-btn {
    background: #2d3e50 none repeat scroll 0 0;
}
.product-price {
    margin-bottom: 23px;
    overflow: hidden;
}
.product-price > h3 {
    color: #4c4c4c;
    display: inline-block;
    font-size: 24px;
}
/*End online producy area*/
/*Event area*/
.single-event-item {
    box-shadow: 0 0 8px rgba(34, 30, 31, 0.3);
}
.single-event-image > a {
    display: block;
    position: relative;
}
.single-event-image img {
    width: 100%;
}
.single-event-image span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 42px;
    text-align: center;
}
.single-event-image a > span {
    background: #2d3e50 none repeat scroll 0 0;
    bottom: 0;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    height: 96px;
    left: 0;
    line-height: 35px;
    padding-top: 16px;
    position: absolute;
    width: 96px;
}
.single-event-text {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 2px solid #86bc42;
    padding: 29px 34px 35px;
}
.single-event-text > h3 a, .single-event-text > h3 {
    color: #4c4c4c;
}
.single-event-text > h3 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
}
.single-event-text > h3 a, .single-event-text > h3 {
    color: #4c4c4c;
}
.single-item-comment-view, .single-item-rating {
    display: inline-block;
}
.single-event-item .single-item-comment-view {
    margin-bottom: 12px;
}
.single-event-item .single-item-comment-view span {
    margin-right: 12px;
}
.single-event-item .button-default {
    margin-top: 16px;
    padding: 9px 23px;
}
.single-event-item:hover .button-default {background: #2d3e50 none repeat scroll 0 0;}
.single-event-item:hover .single-event-text > h3 a {
    color: #86bc42;
}
/*End event area*/
/*NewsLetter area*/
.newsletter-area {
    background: #2d3e50 none repeat scroll 0 0;
    color: #ffffff;
    position: relative;
}
.newsletter-area:before {
    height: 148px;
    left: 0;
    right: auto;
    top: -20px;
    width: 44%;
}
.newsletter-area:after {
    border-width: 74.5px 40px;
    left: 44%;
    right: auto;
    top: -20px;
}
.newsletter-content {
    padding-top: 26px;
    z-index: 9;
    position: relative;
}
.newsletter-content h2, .newsletter-content h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.newsletter-content > h3 {
    margin-bottom: 2px;
    font-size: 24px;
}
.newsletter-form {
    overflow: hidden;
    padding: 36px 0;
}
.subscribe-form {
    float: right;
    height: 56px;
    position: relative;
    width: 525px;
}
.subscribe-form:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff #fff transparent transparent;
    -o-border-image: none;
    border-image: none;
    border-style: solid;
    border-width: 28px 15px;
    content: "";
    height: 5px;
    left: -30px;
    position: absolute;
    top: 0;
    width: 0;
}
.subscribe-form input {
    color: #696969;
    height: 100%;
    padding-left: 15px;
    width: 100%;
    border: 0;
}
.subscribe-form > button {
    border: 2px solid #86bc42;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 34%;
}
.subscribe-form > button:hover {
    background: #FFF;
    border: 2px solid #86bc42;
}
/*End newsletter area*/
/*Footer widget area*/
.footer-widget-area {
    background: #2d3e50 none repeat scroll 0 0;
    color: #ffffff;
    padding: 80px 0 65px;
}
.footer-logo {
    margin-bottom: 24px;
}
.footer-logo > a {
    display: inline-block;
}
.social-icons {
    margin-top: 27px;
}
.social-icons a {
    background: #ffffff none repeat scroll 0 0;
    color: #2d3e50;
    display: inline-block;
    font-size: 20px;
    height: 31px;
    line-height: 30px;
    margin-right: 11px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 31px;
}
.single-footer-widget > a i {
    font-size: 18px;
    width: 30px;
}
.single-footer-widget > span i {
    font-size: 18px;
    width: 30px;
}
.single-footer-widget > h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 19px;
    margin-bottom: 37px;
    padding-top: 12px;
    text-transform: uppercase;
}
.single-footer-widget > a {
    color: #ffffff;
    display: block;
    margin-bottom: 11px;
}
.single-footer-widget > span {
    display: block;
    margin-bottom: 11px;
}
.footer-list a {
    color: #ffffff;
    line-height: 25px;
}
.instagram-image {
    padding-top: 5px;
}
.footer-img {
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.instagram-image .footer-img:nth-child(3), .instagram-image .footer-img:nth-child(6) {
    margin-right: 0;
}
.footer-img a {
    display: inline-block;
    position: relative;
}
.footer-img a:before {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.footer-img a:after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    color: #ffffff;
    content: "+";
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    height: 18px;
    left: 0;
    margin: -9px auto 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 18px;
}
/*End footer widget area*/
/*Footer area*/
.footer-area {
    color: #ffffff;
    font-size: 12px;
    padding: 18px 0;
}
.footer-area span a:hover {
    border-bottom: 1px solid #ffffff;
}
.footer-area span a {
    color: #ffffff;
}
.column-right {
    float: right;
}
/*Course page*/
.course-page {
    padding-top: 154px;
}
.course-page .single-item {
    margin-bottom: 128px;
}
.breadcrumb-banner-area:after {
    background: rgba(45, 62, 80, 0.8) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.breadcrumb-banner-area {
    background: rgba(0, 0, 0, 0) url(../images/banner/4.jpg) no-repeat scroll 0 0;
    color: #ffffff;
    padding: 100px 0;
    position: relative;
}
.breadcrumb-text {
    z-index: 9;
    position: relative;
}
.breadcrumb-text h1 {
    /*line-height: 25px;*/
    padding-bottom: 51px;
    text-transform: uppercase;
    position: relative;
    font-size: 36px;
}
.breadcrumb-text h1:after {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 29px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 2px;
}
.breadcrumb-bar .breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    line-height: 12px;
    margin-bottom: 0;
    padding: 15px 0 0;
}
.breadcrumb-bar li {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 12px;
    margin: 0 16px;
    position: relative;
    text-transform: uppercase;
}
.breadcrumb-bar li {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    position: relative;
    text-transform: uppercase;
}
.breadcrumb-bar a {
    color: #ffffff;
}
/*End course page*/
/*News details page*/
.news-details-content .single-latest-text {
    padding: 75px 72px 0;
}
.news-details-content .single-latest-text > h3 {
    color: #616161;
    font-size: 24px;
    margin-bottom: 8px;
}
.news-details-content .single-latest-item .single-item-comment-view {
    margin-bottom: 8px;
}
.news-details-content .single-latest-text p {
    color: #4c4c4c;
    line-height: 23px;
    margin-bottom: 23px;
}
.tags-and-links {
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 50px;
}
.related-tag, .news-details-content .social-links > span {
    color: #4c4c4c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: inline-block;
}
.related-tag .tags {
    display: inline-block;
}
.related-tag .tags li {
    display: inline-block;
}
.related-tag .tags li a {
    color: #898989;
}
.news-details-content .social-links {
    display: inline-block;
    float: right;
    margin-right: 47px;
    position: inherit;
    width: auto;
}
.news-details-content .social-links > span {
    margin-right: 11px;
}
.social-links > a {
    border: 1px solid #2d3e50;
    border-radius: 50%;
    color: #2d3e50;
    display: inline-block;
    font-size: 14px;
    height: 27px;
    line-height: 25px;
    margin: 0 3px;
    text-align: center;
    width: 27px;
}
.social-links > a:hover {
    background: #7a9757 none repeat scroll 0 0;
    border-color: #7a9757;
}
style.css:1858
.social-links > a:hover {
    color: #ffffff;
}
.news-details-content .social-links > a {
    font-size: 13px;
    height: 23px;
    line-height: 21px;
    margin: 0 2px;
    width: 23px;
}
.single-sidebar-widget {
    margin-bottom: 62px;
    overflow: hidden;
}
.single-sidebar-widget h4.title {
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: 600;
}
.single-sidebar-widget h4.title:after {
    bottom: 1px;
}
h4.title:after {
    bottom: 2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 73px;
}
.recent-content-item {
    margin-bottom: 22px;
    overflow: hidden;
}
.recent-content-item > a {
    border: 1px solid #86bc42;
    display: inline-block;
    float: left;
}
.recent-text {
    overflow: hidden;
    padding-left: 20px;
}
.recent-text > h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.recent-text > h4 a {
    color: #6b6b6b;
}
.recent-text .single-item-comment-view {
    display: block;
}
.recent-text .single-item-comment-view > span {
    color: #b2b2b2;
    font-size: 11px;
    line-height: 12px;
    margin-right: 13px;
}
.recent-text .single-item-comment-view i {
    font-size: 13px;
}
.recent-text > p {
    color: #6b6b6b;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}
.single-sidebar-widget .tags li a {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #4c4c4c;
    color: #4c4c4c;
    float: left;
    margin-bottom: 13px;
    margin-right: 6px;
    padding: 1px 9px;
}
.single-sidebar-widget .tags li a:hover {
    color: #fff;
}
.shop-grid-area .single-product-item {
    margin-bottom: 60px;
}
/*Course detail*/
.course-details-content {
    margin-left: 70px;
}
.single-course-details {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #86bc42;
    margin-bottom: 80px;
    padding: 33px 0;
}
.single-course-details .single-item-text {
    padding-right: 48px;
}
.single-course-details .single-item-text h4 {
    font-size: 24px;
    margin-bottom: 2px;
    padding-top: 32px;
}
.single-course-details .single-item-text-info {
    margin-bottom: 23px;
}
.single-item-text-info span {
    color: #696969;
    font-family: inherit;
    margin-right: 11px;
}
.single-item-text-info span span {
    color: #2d3e50;
}
.single-course-details .single-item-content {
    margin-bottom: 0;
    padding-top: 31px;
}
.course-duration {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.duration-title {
    color: #ffffff;
    font-size: 18px;
}
.course-duration .text {
    border-bottom: 1px solid #86bc42;
    display: block;
    padding: 15px 0;
}
.course-duration .text span {
    display: inline-block;
    text-align: center;
    width: 192px;
}
.course-duration .text span.text-right {
    border: 0 none;
    display: inline-block;
    float: right;
    padding: 0;
    text-align: center;
    width: 240px;
}
.duration-text {
    background: #f6f6f6 none repeat scroll 0 0;
    color: #4c4c4c;
}
.course-duration .text {
    border-bottom: 1px solid #86bc42;
    display: block;
    padding: 15px 0;
}
.tution-fee {
    color: #ffffff;
    padding: 11px 0;
    text-align: center;
}
.tutor-image {
    padding-top: 37px;
    text-align: center;
}
.tutor-image > img {
    border: 2px solid #86bc42;
    border-radius: 50%;
}
.sidebar-widget .single-teacher-text {
    padding: 20px 0 32px;
    position: inherit;
}
.sidebar-widget .single-teacher-text > h3 {
    font-family: inherit;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
    padding-top: 0;
}
.sidebar-widget .single-teacher-text > h3 a {
    color: #2d3e50;
}
.single-sidebar-widget:last-child {
    margin: 0;
}
.single-teacher-text {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 3px solid #86bc42;
    padding: 20px 26px 90px;
    text-align: center;
}
.single-teacher-text > h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}
.sidebar-widget .single-teacher-text > p {
    display: block;
    font-size: 12px;
    line-height: 22px;
    padding: 14px 20px 0;
}
.single-sidebar-widget .social-links {
    padding-top: 10px;
    position: inherit;
}
.single-sidebar-widget h4.title {
    font-size: 18px;
    margin-bottom: 25px;
}
.single-sidebar-widget .single-item-image {
    top: -26px;
}
.single-sidebar-widget .single-item-image img {
    margin: 0;
}
.single-sidebar-widget .single-item {
    background: #f6f6f6 none repeat scroll 0 0;
    margin-top: 52px;
    padding: 0 26px;
    border-bottom: 2px solid #86bc42;
}
.overlay-effect a:before {
    background: rgba(45, 62, 80, 0.2) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    width: 100%;
}
.single-sidebar-widget .single-item-text > h4 {
    font-size: 14px;
}
.single-item-text h4 a, .single-item-text h4 {
    color: #2d3e50;
}
.single-sidebar-widget .single-item-text-info {
    font-size: 12px;
    margin-bottom: 8px;
    padding-top: 2px;
}
.single-sidebar-widget .single-item-text > p {
    color: #4c4c4c;
    font-size: 12px;
}
.single-sidebar-widget .single-item .button-default {
    font-size: 12px;
    padding: 6px 34px;
}
.single-item:hover .button-default {
    background: #2d3e50 none repeat scroll 0 0;
}
.comments {
    color: #4c4c4c;
    overflow: hidden;
    padding: 78px 15px 20px 0;
}
.single-comment {
    margin-bottom: 31px;
    overflow: hidden;
}
.author-image {
    border: 2px solid #eaeaea;
    border-radius: 2px;
    float: left;
    height: 67px;
    margin-right: 23px;
    width: 67px;
}
.comment-text {
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
    padding-bottom: 8px;
}
.author-info > h4 {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    font-weight: 600;
}
.author-info > h4 a {
    color: #4c4c4c;
}
.comment-time, span.reply {
    float: right;
    line-height: 22px;
    font-weight: 500;
}
span.comment-time {
    padding-right: 3px;
    position: relative;
    font-weight: 500;
}
.comment-text > p {
    line-height: 20px;
    padding-top: 5px;
}
.teachers-area.padding-top {
    padding: 120px 0 10px;
}
.teachers-area.padding-top {
    padding: 120px 0 140px;
}
.single-teacher-item {
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
}
.single-teacher-item:hover .single-teacher-text {
    margin-top: -45px;
    padding: 20px 26px 66px;
    position: relative;
    z-index: 9;
}
.single-teacher-text > h3 {
    font-family: raleway;
    font-weight: 600;
    margin-bottom: 4px;
    padding-top: 20px;
}
.single-teacher-item:hover .single-teacher-text > h3 {
    padding-top: 0;
}
.single-teacher-text > p {
    display: none;
    padding-top: 13px;
}
.single-teacher-item:hover .single-teacher-text p {
    display: block;
}
.social-links {
    bottom: 38px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-teacher-item:hover {
    box-shadow: 0 6px 20px rgba(34, 30, 31, 0.3);
}
.single-teacher-item:hover .single-teacher-text > h3 {
    padding-top: 0;
}
.single-teacher-image > a:after {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.single-teacher-image > a:after {
    background: rgba(134, 188, 66, 0.8) none repeat scroll 0 0;
}
.single-teacher-item:hover .single-teacher-image > a:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}
.skill-bar-item .progress {
    border-radius: 0;
    height: 14px;
}
.skill-bar-item .progress-bar {
    line-height: 15px;
}
/*End course detail*/
/****************************************/
/*Mobile - tablet - responsive*/
/****************************************/
@media (max-width: 1169px) and (min-width: 992px){
	.container {
		width: 970px;
	}
    .single-item {
        padding: 0 20px;
    }
    .single-latest-text {
        padding: 30px 0 16px 11px;
    }
    .single-latest-text > h3 {
        font-size: 19px;
        height: 22px;
    }
    .course-page .single-item {
        margin-bottom: 130px;
    }
    h3.agile_title {
        font-size: 2em;
    }
    .social-icons a {
        margin-right: 8px;
    }
    .footer-img {
        height: 59px;
        width: 59px;
    }
    .news-details-content .single-latest-text {
        padding: 35px 27px 0;
    }
    .single-sidebar-widget .single-item {
        padding: 0 8px;
    }
    .single-item-text-info span {
        margin-right: 7px;
    }
}
@media (max-width: 991px) and (min-width: 768px){
	.container {
		width: auto;
	}
    .mobile-menu-area{
        display: block;
    }
    .logo {
        padding: 40px 0 33px;
        text-align: center;
    }
    .header-secondary .container {
        width: 750px;
    }
    .section-padding {
        padding: 80px 0;
    }
    .section-title-wrapper {
        margin-bottom: 70px;
    }
    /*widget area*/
    .newsletter-content h3 {
        font-size: 21px;
    }
    .newsletter-content h2 {
        font-size: 25px;
    }
    .subscribe-form {
        width: 335px;
    }
    .footer-img {
        height: 62px;
        width: 62px;
    }
    /*end footer widget area*/
    .news-details-content .single-latest-text {
        padding: 35px 30px 0;
    }
    .course-details-content {
        margin: 0;
    }
    .course-details-area a img {
        margin: 0;
        width: 100%;
    }
}
@media (max-width: 767px){
    .logo {
        padding: 10px 0 10px;
        text-align: center;
    }
    .container {
		width: auto;
	}
    .header-secondary::before {
        width: 91%;
    }
    .header-secondary::after {
        right: 91%;
    }
    .mobile-menu-area{
        display: block;
    }
    .course-area .container,.latest-area .container,.product-area .container,.news-details-area .container,.shop-grid-area .container,.course-details-area .container {
        width: 450px;
    }
	.about-area {
		background: #2D3E50;
		margin-top: 60px;
	}
	.about-area {
		background-position: left top;
		margin-top: 100px;
	}
	.about-container {
		margin-left: 0;
	}
	.about-area::before {
		width: 74%;
	}
	.about-area::after {
		left: 74%;
	}
    .section-padding {
        padding: 60px 0;
    }
    .section-title h3 {
        font-size: 25px;
    }
    .course-area .section-title-wrapper {
        margin-bottom: 80px;
    }
    .single-item {
        margin-bottom: 80px;
        padding: 0 16px;
    }
    .single-item-image {
        top: -20px;
    }
    .button-large.button-default {
        margin-top: 5px;
    }
    .single-item-text-info span {
        margin-right: 8px;
    }
    .single-latest-image {
        float: none;
        text-align: center;
    }
    .single-latest-image a, .single-latest-image img {
        width: 100%;
    }
    .single-latest-image a, .single-latest-image img {
        width: 100%;
    }
    .single-latest-text {
        padding: 30px 17px;
    }
    /*--flexisel--*/    
    .agents {
		min-height: 550px;
		padding-top: 4em;
	}
	.w3ls_team_grid h4 {
		margin: 2em 0 0.3em;
		font-size: 1em;
	}
	.agile-gallery-info h5 {
		font-size: 0.9em;
		letter-spacing: 2px;
	}
	.w3ls_banner_bottom_grid {
		float: left;
		width: 50%;
	}
	.w3ls_banner_bottom_grid h4 {
		font-size: 1em;
		padding: 10px 0;
		width: 55%;
		margin: 119px auto 2px;
	}
	.wthree-tittle {
		margin-bottom: 2em;
	}
	.wthree_testimonials_grid1, .wthree_testimonials_grid {
		width: 94%;
	}
    h3.agile_title {
        font-size: 2em;
    }
    h3.agile_title.one.two:after {
        width: 10%;
        top: 46%;
        left: 22%;
    }
    .nbs-flexisel-nav-right {
		right: 1%;
	}
	.nbs-flexisel-nav-left {
		left: 1%;
	}    
    .wthree_testimonials_grid_pos {
		position: absolute;
		top: -27%;
		left: 40%;
	}
    .wthree-tittle {
        margin-bottom: 3em;
    }
    /*--end flexisel--*/
    /*event area*/
    .single-product-item, .single-event-item {
        margin-bottom: 40px;
    }
    /*end event area*/
    /*footer widget area*/
    .footer-widget-area .container{
        width: 450px;
    }
    .single-footer-widget {
        margin-bottom: 27px;
    }
    .single-footer-widget > h3 {
        padding-top: 40px;
    }
    .newsletter-form {
        padding: 36px 0 0;
    }
    .subscribe-form {
        height: 45px;
        margin-top: 50px;
        width: 100%;
    }
    .subscribe-form > input {
        padding-left: 7px;
    }
    .subscribe-form > button {
        padding: 0 7px;
        width: auto;
    }
    .newsletter-content > h2 {
        font-size: 22px;
    }
    .footer-img {
        height: 59px;
        width: 59px;
    }
    .footer-area {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    .column-right {
        float: none;
    }
    .breadcrumb-banner-area {
        padding: 60px 0;
    }
    .breadcrumb-text h1 {
        line-height: 37px;
        font-size: 32px;
    }
    .news-details-content .single-latest-text {
        padding: 21px 13px 0;
    }
    .news-details-content .social-links {
        display: block;
        float: left;
        margin: 0;
    }
    .course-details-content {
        margin-left: 0;
    }
    .single-course-details {
        margin-bottom: 50px;
        padding: 0 0 30px;
    }
    .single-course-details .col-md-6:first-child {
        padding-right: 15px;
    }
    .single-course-details .single-item-text {
        padding: 0 10px;
    }
    .course-duration .text span {
        width: 40%;
    }
    .course-duration .text span.text-right {
        width: 60%;
    }
    .author-info > h4 {
        display: block;
    }
    .comment-time {
        float: none;
        font-size: 12px;
    }
}
@media (max-width: 480px){
    .hidden-480{
        display: none !important;
    }
    .container{
        width: auto;
    }
    .footer-widget-area .container{
        width: 300px;
    }
    .course-area .container,.latest-area .container,.product-area .container,.news-details-area .container,.shop-grid-area .container,.course-details-area .container  {
        width: auto;
    }
    /*--flexisel--*/
    .agents {
		min-height: 717px;
		padding-top: 3em;
		padding-bottom: 3em;
	}
	h3.agile_title.one.two:after {
		height: 4px;
		width: 12%;
		position: absolute;
		top: 46%;
		left: 18%;
	}
	.w3ls_team_grid h4 {
		margin: 2em 0 0.3em;
		font-size: 0.9em;
	}
	.nav-tabs > li > a {
		margin-right: 0px;
		font-size: 0.9em;
		padding: .5em 0.6em;
	}
	.nav-tabs > li {
		margin: 0 0px;
	}
	.wthree_testimonials_grid{
	    position: relative;
		margin: 6em auto 0;
		padding: 3em 3em 2em;
	}
	.wthree_testimonials_grid p{
		font-size:0.85em;
		line-height:1.9em;
	}

	.wthree_testimonials_grid h4 {
		font-size: 1em;
		line-height: 1.5em;

	}
	.wthree_testimonials_grid_pos {
		position: absolute;
		top: -41%;
		left: 36%;
	}
	.agents.testmo {
		min-height: 522px;
		padding-top: 3em;
	}
	.wthree_about_grid_left {
		padding: 0;
	}
    .wthree_testimonials_grid_pos {
		position: absolute;
		top: -41%;
		left: 36%;
	}
    /*--end flexisel--*/	
    .single-item {
        margin-bottom: 80px;
        padding: 0 16px;
    }
    .footer-img {
        height: auto;
        width: auto;
    }
}

